.menubar {
    background-color: #8a2be2;
    color: #fff;
    height: 90px;
}

img {
    margin-right: 1rem;
}

:host ::ng-deep .p-menubar .p-menubar-end .p-avatar {
    margin-right: 1rem;
}


.p-inputtext {
    border-radius: 5px;   
    width: 600px !important;
    padding: 15px;

}

.menubar-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-home{
    cursor: pointer;
    color: #8a2be2;
}

::ng-deep .end-menu .p-dropdown{
    margin-top: 0rem !important;
}

::ng-deep .end-menu  .p-multiselect {
    margin-top: 0rem !important;
    width: 200px;
}

::ng-deep .tab-menu-full p-tabmenu{
    width: -webkit-fill-available;
}

::ng-deep .end-menu .p-overlay{
    left: -155px!important;
}

::ng-deep .end-menu .p-dropdown-filter{
 margin-right: 0px;
}

::ng-deep .end-menu svg.p-dropdown-filter-icon.p-icon {
    margin-top: -0.25rem;
}

.end-menu{
    gap: 20px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border: 1px solid #e5e7eb;
    border-width: 0 0 2px 0;
}